<%- include("templates/header") %>
<h1>
  Hello <%- username %> <% if (user_type=='admin' ) { %> <%= " (admin)" %> <% }
  %>!
</h1>
<div>
  <img src="/<%= cat_number %>.png" />
</div>

<div>
  <a href="/"><button>Home</button></a>
  <a href="signout"><button>Signout</button></a>
</div>
<%- include("templates/footer") %>
